h1{
    font-size: 65px ;
    color: orange;
    font-family: 'Courier New', sans-serif;
    text-align: center;
    } 
    .back{
      background-color: rgba(252, 146, 7, 0.411);
      color: rgb(253, 253, 253);
    }
    body{
       background-color: wheat;
       font-size: 16px;   
      }
      
    p{ 
        font-weight: 600;
        font-size: 3em;
        border-radius: 8px;
    }
    ul{
        font-style:italic;
        font-size: 24px;
        list-style: square;
        width: 50%;
        color: rgb(245, 252, 251);
        
      }
   #yellow{
       background-color: yellow;
       border-radius: 4px 4px 0px 0px;
   }
   #red{
       background-color: red;
   }
   #brown{
       background-color: rgb(77, 37, 11);
       border-radius:  0px 0px 4px 4px;
   }
   li{
      text-align: center;
       }